# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/GenericDesignPatterns/obj/Debug
/GenericDesignPatterns/Properties
/GenericDesignPatterns.v3.ncrunchsolution.user
/.vs/GenericDesignPatterns/v15

packages/

src/GenericDesignPatterns/obj/

test/GenericDesignPatterns.Behavioral.Tests.Unit/bin/

test/GenericDesignPatterns.Behavioral.Tests.Unit/obj/

test/GenericDesignPatterns.Creational.Tests.Unit/bin/

test/GenericDesignPatterns.Creational.Tests.Unit/obj/

test/GenericDesignPatterns.Structural.Tests.Unit/bin/

test/GenericDesignPatterns.Structural.Tests.Unit/obj/
