# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# NuGet Packages
*.nupkg
*.nuspec

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/GenericDesignPatterns/Properties
/GenericDesignPatterns.v3.ncrunchsolution.user
/.vs/GenericDesignPatterns/v15

# design
/designs/*
!/designs/gdp.ico
!/designs/PackIcon.png

packages/

src/GenericDesignPatterns/obj/

test/GenericDesignPatterns.Behavioral.Tests.Unit/bin/

test/GenericDesignPatterns.Behavioral.Tests.Unit/obj/

test/GenericDesignPatterns.Creational.Tests.Unit/bin/

test/GenericDesignPatterns.Creational.Tests.Unit/obj/

test/GenericDesignPatterns.Structural.Tests.Unit/bin/

test/GenericDesignPatterns.Structural.Tests.Unit/obj/
/test/GenericDesignPatterns.Tests.Unit/GenericDesignPatterns.Tests.Unit.v3.ncrunchproject.user
/test/GenericDesignPatterns.Tests.Unit/GenericDesignPatterns.Tests.Unit.v3.ncrunchproject
/test/GenericDesignPatterns.Sample.Tests.Unit/GenericDesignPatterns.Sample.Tests.Unit.v3.ncrunchproject.user
/test/GenericDesignPatterns.Sample.Tests.Unit/GenericDesignPatterns.Sample.Tests.Unit.v3.ncrunchproject
/src/GenericDesignPatterns.Sample/GenericDesignPatterns.Sample.v3.ncrunchproject.user
/src/GenericDesignPatterns.Sample/GenericDesignPatterns.Sample.v3.ncrunchproject
/src/GenericDesignPatterns/GenericDesignPatterns.v3.ncrunchproject.user
/src/GenericDesignPatterns/GenericDesignPatterns.v3.ncrunchproject
/GenericDesignPatterns.v3.ncrunchsolution
/_NCrunch_GenericDesignPatterns/GenericDesignPatterns.executiontimes.cache
/_NCrunch_GenericDesignPatterns/GenericDesignPatterns.crunchsolution.cache
/test/GenericDesignPatterns.Sample.Tests.Unit/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/GenericDesignPatterns.Sample/obj/Debug
/test/GenericDesignPatterns.Sample.Tests.Unit/bin/Debug
/test/GenericDesignPatterns.Sample.Tests.Unit/obj/Debug
/test/GenericDesignPatterns.Tests.Unit/bin/Debug
/test/GenericDesignPatterns.Tests.Unit/obj/Debug
/src/GenericDesignPatterns.Samples/obj/Debug
/src/GenericDesignPatterns.Samples/GenericDesignPatterns.Samples.v3.ncrunchproject.user
/src/GenericDesignPatterns.Samples/GenericDesignPatterns.Samples.v3.ncrunchproject
/test/GenericDesignPatterns.Samples.Tests.Unit/bin/Debug
/test/GenericDesignPatterns.Samples.Tests.Unit/obj/Debug
/test/GenericDesignPatterns.Samples.Tests.Unit/GenericDesignPatterns.Samples.Tests.Unit.v3.ncrunchproject.user
/test/GenericDesignPatterns.Samples.Tests.Unit/GenericDesignPatterns.Samples.Tests.Unit.v3.ncrunchproject
/TestResults/fd075413-14e5-467d-b0d5-5936967e8d39
/.vs/GenericDesignPatterns/v16
/src/GenericDesignPatterns.Samples/obj/Release
/test/GenericDesignPatterns.Samples.Tests.Unit/bin/Release
/test/GenericDesignPatterns.Tests.Unit/bin/Release
/test/GenericDesignPatterns.Samples.Tests.Unit/obj/Release
/test/GenericDesignPatterns.Tests.Unit/obj/Release
/src/GenericDesignPatterns/bin/Release/netstandard2.0
/output/netstandard2.0
